<a href="https://colab.research.google.com/github/jonhyuk0922/Python-basic/blob/main/%EB%82%98%EB%8F%84%EC%BD%94%EB%94%A9_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8%ED%8E%B8(%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%2C_%EC%A0%9C%EC%96%B4%EB%AC%B8%2C%ED%95%A8%EC%88%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#자료구조

In [ ]:
#리스트 []
subway = ["르브론", "데이비스", "커리"]

In [ ]:
print(subway.index("이종혁"))

0

In [ ]:
subway.append("테이텀")

In [ ]:
print(subway)

['르브론', '데이비스', '커리', '테이텀']

In [ ]:
subway.insert(1,"서브룩")

In [ ]:
subway

['르브론', '서브룩', '데이비스', '커리', '테이텀']

In [ ]:
#지하철에 있는 사람을 한 명씩 뒤에서 꺼냄
print(subway.pop())

테이텀

In [ ]:
subway.count("르브론")

1

In [ ]:
#정렬도 가능
Num_list = [3, 4, 5, 6, 2]
Num_list.sort()
print(Num_list)

In [ ]:
# 순서 뒤집기 가능
Num_list = [3, 4, 5, 6, 2]
Num_list.reverse()
print(Num_list)

[2, 6, 5, 4, 3]

In [ ]:
#모두 지우기
Num_list = [3, 4, 5, 6, 2]
Num_list.clear()
Num_list

[]

In [ ]:
#다양한 자료형 함께 사용
mix_list = [ "프로농구" , 3 , True]
print(mix_list)

['프로농구', 3, True]

In [ ]:
#리스트 확장
Num_list = [3,5,7,8]

Num_list.extend(mix_list)

print(Num_list)

[3, 5, 7, 8, '프로농구', 3, True]

In [ ]:
#딕셔너리 {}
cabinet = {3:"유재석",100:"김태호"}
print(cabinet[3])
print(cabinet[100])

print(cabinet.get(3))
#print(cabinet[5])
print(cabinet.get(5),"사용 가능")

유재석
김태호
유재석
None 사용 가능

In [ ]:
print(3 in cabinet)
print(5 in cabinet)

True
False

In [ ]:
print(cabinet.items())

dict_items([(3, '유재석'), (100, '김태호')])

In [ ]:
#튜플 변경이안되지만 속도가 list보다 빠르다

menu = ("돈까스","생선까스")
print(menu[0])

돈까스

In [ ]:
name ="이종혁" 
age = 26
hobby = "basketball"
print(name,age,hobby)

이종혁 26 basketball

In [ ]:
#변수 지정 한 번에 가능하다 
#name ="이종혁" 
#age = 26
#hobby = "basketball"
(name,age,hobby) = ("이종혁",26,"basketball")
print(name,age,hobby)

이종혁 26 basketball

In [ ]:
solution(["Jane","Kim"])

"김서방은 1에 있다"

In [ ]:
#쿠폰 당첨 예제
from random import *
users = range(1,21)
users = list(users)
shuffle(users)

winners = sample(users,4)
print("-- 당첨자 발표 --")
print(f"치킨 당첨자 : {winners[0]}")
print(f"커피 당첨자 : {winners[1:]}")
print("-- 축하합니다 --")

-- 당첨자 발표 --
치킨 당첨자 : 8
커피 당첨자 : [1, 9, 20]
-- 축하합니다 --

#제어문

###1)if문

In [ ]:
weather = input("오늘 날씨는 어때요? ")
if weather == "비" or weather == "눈":
  print("우산을 챙기세요")
elif weather == "미세먼지":
  print("마스크를 챙기세요")
else:
  print("준비물 필요 없어요.")

오늘 날씨는 어때요? 눈
우산을 챙기세요

In [ ]:
temp = int(input("기온은 어때요? "))
if 30 <= temp:
  print("너무 더워요. 나가지 마세요")
elif 10<=temp and temp < 30:
  print("괜찮은 날씨에요")
elif 0<=temp <10:
  print("외투를 챙기세요")
else:
  print("너무추워요. 나가지 마세요")

기온은 어때요? -3
너무추워요. 나가지 마세요

###2)for문

In [ ]:
for waiting_no in [0,1,2,3,4]:
  print(f"대기번호: {waiting_no}")

대기번호: 0
대기번호: 1
대기번호: 2
대기번호: 3
대기번호: 4

In [ ]:
starbucks = ["아이언맨","토르","아이엠 그루트"]
for customer in starbucks:
  print(f"{customer}, 커피 나왔습니다.")

아이언맨, 커피 나왔습니다.
토르, 커피 나왔습니다.
아이엠 그루트, 커피 나왔습니다.

###3)while문

In [ ]:
customer = "토르"
index = 5
while index >= 1:
  print(f"{customer}, 커피가 준비되었습니다. {index}번 남았습니다")
  index-=1
  if index == 0:
    print("커피는 폐기처분 되었습니다.")

토르, 커피가 준비되었습니다. 5번 남았습니다
토르, 커피가 준비되었습니다. 4번 남았습니다
토르, 커피가 준비되었습니다. 3번 남았습니다
토르, 커피가 준비되었습니다. 2번 남았습니다
토르, 커피가 준비되었습니다. 1번 남았습니다
커피는 폐기처분 되었습니다.

In [ ]:
customer = "토르"
person = "unknown"
while person != customer:
  print(f"{customer}, 커피가 준비되었습니다.")
  person = input("성함이 어떻게 되십니까?")

토르, 커피가 준비되었습니다.
성함이 어떻게 되십니까?조녁
토르, 커피가 준비되었습니다.
성함이 어떻게 되십니까?토르

###4)continue , break

In [ ]:
absent = [3,6] #결석
no_book = [8]
for student in range(1,11): #1,2,3,4,5,6,7,8,9,10
  if student in absent:
    continue
  elif student in no_book:
    print("후.. 오늘 수업끝! {0}는 교무실로".format(student))
    break
  print("{0}가 책을 읽어라".format(student))

1가 책을 읽어라
2가 책을 읽어라
4가 책을 읽어라
5가 책을 읽어라
7가 책을 읽어라
후.. 오늘 수업끝! 8는 교무실로

###5)한줄 for문

In [ ]:
#출석번호가 1 2 3 4, 앞에 100을 붙이기로함 -> 101 102 103 104 ..
students = [1,2,3,4,5]
students = [i+100 for i in students]
print(students)

[101, 102, 103, 104, 105]

In [ ]:
#학생 이름을 길이로 변환
students = ["Iron man","Thor","I am groot"]
#students = [len(i) for i in students]
#print(students)
students = [i.upper() for i in students]
print(students)

['IRON MAN', 'THOR', 'I AM GROOT']

In [ ]:
"""Quiz : 당신은 cocoa 서비스를 이용하는 택시 기사님입니다.
50명의 승객과 매칭 기회가 있을 때, 총 탑승 승객 수를 구하는 프로그램을 작성하시오.

조건1 : 승객별 운행 소요 시간은 5~50분 사이의 난수로 정해집니다.
조건2 : 당신은 소요 시간 5분 ~15분 사이의 승객만 매칭해야 합니다."""
from random import *
passenger = 
run_time = 
for i in range(50):
  print(f"[")

In [ ]:
from random import *
randrange(5)

1

In [ ]:
Quiz)

In [ ]:
from random import *
x = 0
for i in range(1,51):
  time = randrange(5,51)
  if time <= 15:
    print(f"[o]{i}번째 손님 (소요시간 : {time}분)")
    x +=1
  else: 
    print(f"[ ]{i}번째 손님 (소요시간 : {time}분)")

print(f"총 탑승 승객 : {x}분")

[ ]1번째 손님 (소요시간 : 37분)
[ ]2번째 손님 (소요시간 : 49분)
[ ]3번째 손님 (소요시간 : 48분)
[ ]4번째 손님 (소요시간 : 33분)
[ ]5번째 손님 (소요시간 : 32분)
[ ]6번째 손님 (소요시간 : 36분)
[ ]7번째 손님 (소요시간 : 43분)
[ ]8번째 손님 (소요시간 : 36분)
[ ]9번째 손님 (소요시간 : 22분)
[o]10번째 손님 (소요시간 : 13분)
[ ]11번째 손님 (소요시간 : 42분)
[o]12번째 손님 (소요시간 : 7분)
[ ]13번째 손님 (소요시간 : 37분)
[ ]14번째 손님 (소요시간 : 33분)
[o]15번째 손님 (소요시간 : 6분)
[ ]16번째 손님 (소요시간 : 31분)
[o]17번째 손님 (소요시간 : 13분)
[o]18번째 손님 (소요시간 : 14분)
[ ]19번째 손님 (소요시간 : 29분)
[ ]20번째 손님 (소요시간 : 29분)
[ ]21번째 손님 (소요시간 : 28분)
[ ]22번째 손님 (소요시간 : 45분)
[ ]23번째 손님 (소요시간 : 50분)
[ ]24번째 손님 (소요시간 : 37분)
[ ]25번째 손님 (소요시간 : 17분)
[ ]26번째 손님 (소요시간 : 46분)
[ ]27번째 손님 (소요시간 : 42분)
[ ]28번째 손님 (소요시간 : 21분)
[ ]29번째 손님 (소요시간 : 41분)
[ ]30번째 손님 (소요시간 : 28분)
[o]31번째 손님 (소요시간 : 5분)
[ ]32번째 손님 (소요시간 : 42분)
[ ]33번째 손님 (소요시간 : 44분)
[ ]34번째 손님 (소요시간 : 42분)
[o]35번째 손님 (소요시간 : 14분)
[o]36번째 손님 (소요시간 : 5분)
[ ]37번째 손님 (소요시간 : 38분)
[ ]38번째 손님 (소요시간 : 41분)
[o]39번째 손님 (소요시간 : 13분)
[ ]40번째 손님 (소요시간 : 43분)
[ ]41번째 손님 (소요시간 : 32분)
[ ]42번째 손님 (소요시간 : 27분)
[ ]43번째 손님 (소요시간 : 21분)
[ ]44번째 손님 (소요시간 : 20분)
[o]45번째 손님 (소요시간 : 9분)
[ ]46번째 손님 (소요시간 : 23분)
[o]47번째 손님 (소요시간 : 8분)
[ ]48번째 손님 (소요시간 : 39분)
[ ]49번째 손님 (소요시간 : 35분)
[o]50번째 손님 (소요시간 : 10분)
총 탑승 승객 : 12분

#함수

####1)함수
# 함수란, 입력값이 있고 출력값이 있는 것을 말한다.

In [ ]:
def open_account():
  print("새로운 계좌가 생성되었습니다.")

open_account()

새로운 계좌가 생성되었습니다.

####2)전달값과 반환값

In [ ]:
def deposit(balance, money):
  print(f"입금이 완료되었습니다. 잔액은 {balance+money}원입니다.")
  return balance + money

balance = 0 #잔액
balance = deposit(balance,1000)
print(balance)

입금이 완료되었습니다. 잔액은 1000원입니다.
1000

In [ ]:
def withdraw(balance,money):
  if balance > money:
    print(f"출금이 완료되었습니다. 잔액은{balance-money}원입니다.")
    return balance - money
  else:
    print(f"출금이 완료되지 않았습니다. 잔액은 {balance}원입니다.")
    return balance

balance = 0 #잔액
balance = deposit(balance,2000)
#balance = withdraw(balance,3000)
balance = withdraw(balance,500)

입금이 완료되었습니다. 잔액은 2000원입니다.
출금이 완료되었습니다. 잔액은1500원입니다.

In [ ]:
def withdraw_night(balance,money): #저녁에 출금
    commission = 100 #수수료 100원
    return commission, balance- commission - money

commission, balance = withdraw_night(balance,500)
print(f"수수료 {commission}원이며, 잔액은 {balance}원입니다.")

수수료 100원이며, 잔액은 -900원입니다.

####3)기본값

In [ ]:
def profile(name, age, main_lang):
  print(f"이름 : {name}\t나이 : {age}\t주 사용 언어 : {main_lang}")

profile("유재석",20,"파이썬")
profile("김태호",25,"자바")

이름 : 유재석	나이 : 20	주 사용 언어 : 파이썬
이름 : 김태호	나이 : 25	주 사용 언어 : 자바

In [ ]:
#같은 학교, 같은 학년, 같은 반, 같은 수업일 때.
def profile(name, age=20, main_lang="파이썬"):
  print(f"이름 : {name}\t나이 : {age}\t주 사용 언어 : {main_lang}")

profile("유재석")
profile("김태호")

이름 : 유재석	나이 : 20	주 사용 언어 : 파이썬
이름 : 김태호	나이 : 20	주 사용 언어 : 파이썬

####4)키워드값 
키워드에 값을 넣어 함수를 호출하면, 순서가 뒤죽박죽이더라도 함수 인자 순서대로 출력해준다.

In [ ]:
def profile(name, age, main_lang):
  print(name, age, main_lang)

profile(name="유재석",main_lang="파이썬",age=20)
profile(main_lang="자바",age=25,name="김태호")

유재석 20 파이썬
김태호 25 자바

####5)가변인자

In [ ]:
def profile(name, age, lang1,lang2,lang3,lang4,lang5):
  print(f"이름 :{name}\t나이 : {age}\t", end=" ")
  print(lang1,lang2,lang3,lang4,lang5)

profile("유재석",20,"Python","Java","C","C++","C#")
profile("김태호",25,"Kotlin","SWift"," "," "," ")

이름 :유재석	나이 : 20	 Python Java C C++ C#
이름 :김태호	나이 : 25	 Kotlin SWift

In [ ]:
def profile(name, age, *language):
  print(f"이름 :{name}\t나이 : {age}\t", end=" ")
  for lang in language:
    print(lang,end=" ")
  print()

profile("유재석",20,"Python","Java","C","C++","C#","Go")
profile("김태호",25,"Kotlin","SWift")

이름 :유재석	나이 : 20	 Python Java C C++ C# Go
이름 :김태호	나이 : 25	 Kotlin SWift

####6)지역변수와 전역변수
지역변수 : 함수가 호출될 떄 만들어졌다가, 함수가 끝날 때 사라지는 변수 

전역변수 : 어디서든 부를 수 있는 변수

In [ ]:
gun = 10
 
def checkpoint(soldiers): #경계 근무
  #gun = 20
  global gun #전역 공간에 있는 gun 사용
  gun = gun - soldiers
  print(f"[함수 내] 남은 총 : {gun}")

print(f"전체 총 : {gun}")
checkpoint(2) #2명이 경계 근무 나감
print(f"남은 총 : {gun}")

전체 총 : 10
[함수 내] 남은 총 : 8
남은 총 : 8

In [ ]:
gun = 10

def checkpoint_return(gun, soldiers):
  gun = gun - soldiers
  print(f"[함수 내] 남은 총 : {gun}")
  return gun
  
  
print(f"전체 총 : {gun}")
gun = checkpoint_return(gun,2)
print(f"남은 총 : {gun}")

전체 총 : 10
[함수 내] 남은 총 : 8
남은 총 : 8

###Quiz6 : 성별 적정 체중 예측하기

In [ ]:
def std_weight(height,gender):
  if gender == "남자":
    return height * height * 22
  else:
    return height * height * 21

height = 186 #cm단위
gender = "남자"
weight = round(std_weight(height/100,gender), 2)
print(f"키 {height}cm {gender}의 표준 체중은 {weight}kg 입니다.")

키 186cm 남자의 표준 체중은 76.11kg 입니다.